In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [3]:
df = pd.read_csv("Train.csv")
test = pd.read_csv("Test.csv")

In [4]:
dataset = [df,test]

In [5]:
df.head()

,id,realtionship_status,industry,genre,targeted_sex,average_runtime(minutes_per_week),airtime,airlocation,ratings,expensive,money_back_guarantee,netgain
0,19717,Married-spouse-absent,Auto,Comedy,Male,45,Primetime,United-States,0.027465,High,No,False
1,31593,Married-civ-spouse,Pharma,Comedy,Male,45,Primetime,United-States,0.027465,Low,No,False
2,5681,Divorced,Entertainment,Comedy,Female,45,Primetime,United-States,0.027465,High,Yes,False
3,15491,Separated,Political,Infomercial,Female,40,Primetime,United-States,0.027465,Low,No,False
4,23587,Married-civ-spouse,Pharma,Comedy,Male,48,Primetime,United-States,0.027465,High,No,True

In [6]:
for x in dataset:
    x.drop(['genre','airlocation','expensive','money_back_guarantee'],axis=1,inplace=True)

In [7]:
df.head()

,id,realtionship_status,industry,targeted_sex,average_runtime(minutes_per_week),airtime,ratings,netgain
0,19717,Married-spouse-absent,Auto,Male,45,Primetime,0.027465,False
1,31593,Married-civ-spouse,Pharma,Male,45,Primetime,0.027465,False
2,5681,Divorced,Entertainment,Female,45,Primetime,0.027465,False
3,15491,Separated,Political,Female,40,Primetime,0.027465,False
4,23587,Married-civ-spouse,Pharma,Male,48,Primetime,0.027465,True

In [8]:
df.head()

,id,realtionship_status,industry,targeted_sex,average_runtime(minutes_per_week),airtime,ratings,netgain
0,19717,Married-spouse-absent,Auto,Male,45,Primetime,0.027465,False
1,31593,Married-civ-spouse,Pharma,Male,45,Primetime,0.027465,False
2,5681,Divorced,Entertainment,Female,45,Primetime,0.027465,False
3,15491,Separated,Political,Female,40,Primetime,0.027465,False
4,23587,Married-civ-spouse,Pharma,Male,48,Primetime,0.027465,True

ONE HOT ENCODING

In [9]:
df.realtionship_status.unique()

array(['Married-spouse-absent', 'Married-civ-spouse', 'Divorced',
       'Separated', 'Never-married', 'Widowed', 'Married-AF-spouse'],
      dtype=object)

In [10]:
one_hot_encoding = OneHotEncoder()
one_hot_encoding = one_hot_encoding.fit(df['realtionship_status'].values.reshape(-1, 1))

In [11]:
one_hot_encoding.categories_

[array(['Divorced', 'Married-AF-spouse', 'Married-civ-spouse',
        'Married-spouse-absent', 'Never-married', 'Separated', 'Widowed'],
       dtype=object)]

In [12]:
one_hot_labels = one_hot_encoding.transform(df['realtionship_status'].values.reshape(-1,1)).toarray()

In [13]:
labels_df = pd.DataFrame()

labels_df['Divorced'] = one_hot_labels[:,0]
labels_df['Married-AF-spouse'] = one_hot_labels[:,1]
labels_df['Married-civ-spouse'] = one_hot_labels[:,2]
labels_df['Married-spouse-absent'] = one_hot_labels[:,3]
labels_df['Never-married'] = one_hot_labels[:,4]
labels_df['Separated'] = one_hot_labels[:,5]
labels_df['Widowed'] = one_hot_labels[:,6]

In [14]:
encoded_df = pd.concat([df, labels_df], axis=1)
encoded_df.drop('realtionship_status', axis=1, inplace=True)

In [15]:
encoded_df.head()

,id,industry,targeted_sex,average_runtime(minutes_per_week),airtime,ratings,netgain,Divorced,Married-AF-spouse,Married-civ-spouse,Married-spouse-absent,Never-married,Separated,Widowed
0,19717,Auto,Male,45,Primetime,0.027465,False,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,31593,Pharma,Male,45,Primetime,0.027465,False,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,5681,Entertainment,Female,45,Primetime,0.027465,False,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,15491,Political,Female,40,Primetime,0.027465,False,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,23587,Pharma,Male,48,Primetime,0.027465,True,0.0,0.0,1.0,0.0,0.0,0.0,0.0

Encoding Industry

In [16]:
df.industry.unique()

array(['Auto', 'Pharma', 'Entertainment', 'Political', 'ClassAction',
       'Other'], dtype=object)

In [17]:
one_hot_encoding = OneHotEncoder()
one_hot_encoding = one_hot_encoding.fit(df['industry'].values.reshape(-1, 1))

In [18]:
one_hot_encoding.categories_

[array(['Auto', 'ClassAction', 'Entertainment', 'Other', 'Pharma',
        'Political'], dtype=object)]

In [19]:
one_hot_labels = one_hot_encoding.transform(df['industry'].values.reshape(-1,1)).toarray()

In [20]:
labels_df1 = pd.DataFrame()

labels_df1['Auto'] = one_hot_labels[:,0]
labels_df1['ClassAction'] = one_hot_labels[:,1]
labels_df1['Entertainment'] = one_hot_labels[:,2]
labels_df1['Other'] = one_hot_labels[:,3]
labels_df1['Pharma'] = one_hot_labels[:,4]
labels_df1['Political'] = one_hot_labels[:,5]

In [21]:
encoded_df1 = pd.concat([encoded_df, labels_df1], axis=1)
encoded_df1.drop('industry', axis=1, inplace=True)

In [22]:
encoded_df1.head()

,id,targeted_sex,average_runtime(minutes_per_week),airtime,ratings,netgain,Divorced,Married-AF-spouse,Married-civ-spouse,Married-spouse-absent,Never-married,Separated,Widowed,Auto,ClassAction,Entertainment,Other,Pharma,Political
0,19717,Male,45,Primetime,0.027465,False,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,31593,Male,45,Primetime,0.027465,False,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5681,Female,45,Primetime,0.027465,False,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,15491,Female,40,Primetime,0.027465,False,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,23587,Male,48,Primetime,0.027465,True,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

Targeted_sex

In [23]:
one_hot_encoding = OneHotEncoder()
one_hot_encoding = one_hot_encoding.fit(df['targeted_sex'].values.reshape(-1, 1))

In [24]:
one_hot_encoding.categories_

[array(['Female', 'Male'], dtype=object)]

In [25]:
one_hot_labels = one_hot_encoding.transform(df['targeted_sex'].values.reshape(-1,1)).toarray()

In [26]:
labels_df2 = pd.DataFrame()

labels_df2['Female'] = one_hot_labels[:,0]
labels_df2['Male'] = one_hot_labels[:,1]

In [27]:
encoded_df2 = pd.concat([encoded_df1, labels_df2], axis=1)
encoded_df2.drop('targeted_sex', axis=1, inplace=True)

In [28]:
encoded_df2.head()

,id,average_runtime(minutes_per_week),airtime,ratings,netgain,Divorced,Married-AF-spouse,Married-civ-spouse,Married-spouse-absent,Never-married,Separated,Widowed,Auto,ClassAction,Entertainment,Other,Pharma,Political,Female,Male
0,19717,45,Primetime,0.027465,False,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,31593,45,Primetime,0.027465,False,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,5681,45,Primetime,0.027465,False,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,15491,40,Primetime,0.027465,False,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,23587,48,Primetime,0.027465,True,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

Airtime

In [29]:
one_hot_encoding = OneHotEncoder()
one_hot_encoding = one_hot_encoding.fit(df['airtime'].values.reshape(-1, 1))

In [30]:
one_hot_encoding.categories_

[array(['Daytime', 'Morning', 'Primetime'], dtype=object)]

In [31]:
one_hot_labels = one_hot_encoding.transform(df['airtime'].values.reshape(-1,1)).toarray()

In [32]:
labels_df3 = pd.DataFrame()

labels_df3['Daytime'] = one_hot_labels[:,0]
labels_df3['Morning'] = one_hot_labels[:,1]
labels_df3['Primetime'] = one_hot_labels[:,2]

In [33]:
encoded_df3 = pd.concat([encoded_df2, labels_df3], axis=1)
encoded_df3.drop('airtime', axis=1, inplace=True)

In [34]:
encoded_df3.head()

,id,average_runtime(minutes_per_week),ratings,netgain,Divorced,Married-AF-spouse,Married-civ-spouse,Married-spouse-absent,Never-married,Separated,...,ClassAction,Entertainment,Other,Pharma,Political,Female,Male,Daytime,Morning,Primetime
0,19717,45,0.027465,False,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,31593,45,0.027465,False,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
2,5681,45,0.027465,False,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,15491,40,0.027465,False,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
4,23587,48,0.027465,True,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0

In [35]:
encoded_df3['ratings']=df['ratings']*100

In [36]:
le = LabelEncoder()
encoded_df3['netgain']=le.fit_transform(encoded_df3['netgain'])

Splitting Dataset

In [37]:
y = encoded_df3['netgain'].values

In [38]:
x = encoded_df3.drop(['netgain'],axis=1).values

In [39]:
from sklearn.model_selection import KFold
cv = KFold(n_splits=10,random_state=42,shuffle=False)
for train_index,test_index in cv.split(x):
    print("train index: ",train_index)
    print("test index: ",test_index)

train index:  [ 2605  2606  2607 ... 26045 26046 26047]
test index:  [   0    1    2 ... 2602 2603 2604]
train index:  [    0     1     2 ... 26045 26046 26047]
test index:  [2605 2606 2607 ... 5207 5208 5209]
train index:  [    0     1     2 ... 26045 26046 26047]
test index:  [5210 5211 5212 ... 7812 7813 7814]
train index:  [    0     1     2 ... 26045 26046 26047]
test index:  [ 7815  7816  7817 ... 10417 10418 10419]
train index:  [    0     1     2 ... 26045 26046 26047]
test index:  [10420 10421 10422 ... 13022 13023 13024]
train index:  [    0     1     2 ... 26045 26046 26047]
test index:  [13025 13026 13027 ... 15627 15628 15629]
train index:  [    0     1     2 ... 26045 26046 26047]
test index:  [15630 15631 15632 ... 18232 18233 18234]
train index:  [    0     1     2 ... 26045 26046 26047]
test index:  [18235 18236 18237 ... 20837 20838 20839]
train index:  [    0     1     2 ... 26045 26046 26047]
test index:  [20840 20841 20842 ... 23441 23442 23443]
train index:  [    0     1     2 ... 23441 23442 23443]
test index:  [23444 23445 23446 ... 26045 26046 26047]

In [40]:
x_train,x_test,y_train,y_test = x[train_index],x[test_index],y[train_index],y[test_index]

XGBOOST

In [41]:
from xgboost import XGBClassifier

In [42]:
alg = XGBClassifier(learning_rate=0.1, n_estimators=140, max_depth=5,
                        min_child_weight=3, gamma=0.2, subsample=0.6, colsample_bytree=1.0,
                        objective='binary:logistic', nthread=4, scale_pos_weight=1, seed=27)

In [43]:
alg.fit(x_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1.0, gamma=0.2,
              learning_rate=0.1, max_delta_step=0, max_depth=5,
              min_child_weight=3, missing=None, n_estimators=140, n_jobs=1,
              nthread=4, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=27,
              silent=None, subsample=0.6, verbosity=1)

In [44]:
y_pred_xgboost = alg.predict(x_test)

In [45]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred_xgboost))

Accuracy: 0.8168202764976958

In [46]:
test.head()

,id,realtionship_status,industry,targeted_sex,average_runtime(minutes_per_week),airtime,ratings
0,1,Widowed,Auto,Female,10,Daytime,0.027465
1,4,Married-civ-spouse,Pharma,Male,40,Morning,0.056262
2,5,Divorced,Entertainment,Female,50,Morning,0.027465
3,9,Married-civ-spouse,Pharma,Male,40,Primetime,0.027465
4,10,Married-civ-spouse,Pharma,Male,40,Primetime,0.027465

In [47]:
one_hot_encoding = OneHotEncoder()
one_hot_encoding = one_hot_encoding.fit(test['realtionship_status'].values.reshape(-1, 1))

In [48]:
one_hot_labels = one_hot_encoding.transform(test['realtionship_status'].values.reshape(-1,1)).toarray()

In [49]:
one_hot_encoding.categories_

[array(['Divorced', 'Married-AF-spouse', 'Married-civ-spouse',
        'Married-spouse-absent', 'Never-married', 'Separated', 'Widowed'],
       dtype=object)]

In [50]:
labels_df = pd.DataFrame()

labels_df['Divorced'] = one_hot_labels[:,0]
labels_df['Married-AF-spouse'] = one_hot_labels[:,1]
labels_df['Married-civ-spouse'] = one_hot_labels[:,2]
labels_df['Married-spouse-absent'] = one_hot_labels[:,3]
labels_df['Never-married'] = one_hot_labels[:,4]
labels_df['Separated'] = one_hot_labels[:,5]
labels_df['Widowed'] = one_hot_labels[:,6]

In [51]:
encoded_df = pd.concat([test, labels_df], axis=1)
encoded_df.drop('realtionship_status', axis=1, inplace=True)

In [52]:
one_hot_encoding = OneHotEncoder()
one_hot_encoding = one_hot_encoding.fit(test['industry'].values.reshape(-1, 1))

In [53]:
one_hot_labels = one_hot_encoding.transform(test['industry'].values.reshape(-1,1)).toarray()

In [54]:
one_hot_encoding.categories_

[array(['Auto', 'ClassAction', 'Entertainment', 'Other', 'Pharma',
        'Political'], dtype=object)]

In [55]:
labels_df1 = pd.DataFrame()

labels_df1['Auto'] = one_hot_labels[:,0]
labels_df1['ClassAction'] = one_hot_labels[:,1]
labels_df1['Entertainment'] = one_hot_labels[:,2]
labels_df1['Other'] = one_hot_labels[:,3]
labels_df1['Pharma'] = one_hot_labels[:,4]
labels_df1['Political'] = one_hot_labels[:,5]

In [56]:
encoded_df1 = pd.concat([encoded_df, labels_df1], axis=1)
encoded_df1.drop('industry', axis=1, inplace=True)

In [57]:
encoded_df1.head()

,id,targeted_sex,average_runtime(minutes_per_week),airtime,ratings,Divorced,Married-AF-spouse,Married-civ-spouse,Married-spouse-absent,Never-married,Separated,Widowed,Auto,ClassAction,Entertainment,Other,Pharma,Political
0,1,Female,10,Daytime,0.027465,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
1,4,Male,40,Morning,0.056262,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5,Female,50,Morning,0.027465,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,9,Male,40,Primetime,0.027465,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,10,Male,40,Primetime,0.027465,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [58]:
one_hot_encoding = OneHotEncoder()
one_hot_encoding = one_hot_encoding.fit(test['targeted_sex'].values.reshape(-1, 1))

In [59]:
one_hot_labels = one_hot_encoding.transform(test['targeted_sex'].values.reshape(-1,1)).toarray()

In [60]:
one_hot_encoding.categories_

[array(['Female', 'Male'], dtype=object)]

In [61]:
labels_df2 = pd.DataFrame()

labels_df2['Female'] = one_hot_labels[:,0]
labels_df2['Male'] = one_hot_labels[:,1]

In [62]:
encoded_df2 = pd.concat([encoded_df1, labels_df2], axis=1)
encoded_df2.drop('targeted_sex', axis=1, inplace=True)

In [63]:
encoded_df2.head()

,id,average_runtime(minutes_per_week),airtime,ratings,Divorced,Married-AF-spouse,Married-civ-spouse,Married-spouse-absent,Never-married,Separated,Widowed,Auto,ClassAction,Entertainment,Other,Pharma,Political,Female,Male
0,1,10,Daytime,0.027465,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,4,40,Morning,0.056262,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,5,50,Morning,0.027465,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
3,9,40,Primetime,0.027465,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,10,40,Primetime,0.027465,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [64]:
one_hot_encoding = OneHotEncoder()
one_hot_encoding = one_hot_encoding.fit(test['airtime'].values.reshape(-1, 1))

In [65]:
one_hot_labels = one_hot_encoding.transform(test['airtime'].values.reshape(-1,1)).toarray()

In [66]:
labels_df3 = pd.DataFrame()

labels_df3['Daytime'] = one_hot_labels[:,0]
labels_df3['Morning'] = one_hot_labels[:,1]
labels_df3['Primetime'] = one_hot_labels[:,2]

In [67]:
encoded_df3 = pd.concat([encoded_df2, labels_df3], axis=1)
encoded_df3.drop('airtime', axis=1, inplace=True)

In [68]:
encoded_df3.head()

,id,average_runtime(minutes_per_week),ratings,Divorced,Married-AF-spouse,Married-civ-spouse,Married-spouse-absent,Never-married,Separated,Widowed,...,ClassAction,Entertainment,Other,Pharma,Political,Female,Male,Daytime,Morning,Primetime
0,1,10,0.027465,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,4,40,0.056262,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
2,5,50,0.027465,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,9,40,0.027465,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
4,10,40,0.027465,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0

In [69]:
encoded_df3['ratings'] = encoded_df3['ratings']*100

In [70]:
x=encoded_df3.values

In [71]:
y_pred_xgboost = alg.predict(x)

In [72]:
dft = test['id']

In [73]:
dft = pd.DataFrame(dft)

In [74]:
dft['netgain'] = y_pred_xgboost

In [75]:
dft.head()

   id  netgain
0   1        0
1   4        0
2   5        0
3   9        0
4  10        0

In [76]:
dft.netgain.value_counts()

0    5497
1    1016
Name: netgain, dtype: int64

In [77]:
dft.loc[dft['netgain']==0,'netgain']='false'
dft.loc[dft['netgain']==1,'netgain']='true'

In [78]:
dft.to_csv("Second_submission2_final_1.csv",index=False)

In [80]:
encoded_df3.shape

(6513, 21)